<h1>Admin::Application#index</h1>
<p>Find me in app/views/admin/application/index.html.erb</p>
<div class="row" id="admin">
  <div class="col-md-9">
    <header>
      <h1>
				Admin Lounge
			</h1>
    </header>
    <p>
			Welcome to Ticketee's Admin Lounge. Please enjoy your stay.
    </p>
  </div>
  <div class="col-md-3">
    <h2>Admin Links</h2>
    <ul class="nav nav-stacked">
			<li>
				Links will go here
			</li>
    </ul>
  </div>
</div>

