<%= simple_form_for([aproject,aticket]) do |f|  %>
	<%#=render "neworediterrors",bproject: aproject%>
		<%=f.input :name %> 
		<%=f.input :description %> 
		<%=f.submit :submit,class: "btn-primary" %>
<%end%>
