<% @title="Ticket show" %>

<div id="ticket">
	<div class="myheader">
		<h1>
			Show Ticket<br>
			<%= @project.name%>
		</h1>
	</div>	

	<div class="myheader">
		<h2>
			<%= @ticket.name%>
		</h2>
		
		<table id="attributes">
			<tr>
				<th>
					Author:
				</th>					
				<td>
					<%= @ticket.author.email%>
				</td>
			</tr>
			<tr>
				<th>
					Created:
				</th>
				<td>
					<%= time_ago_in_words(@ticket.created_at)%>
				</td>
			</tr>
		</table>
		
		
		<ul class="actions">
			<li>
				<%=link_to "Edit Ticket",[:edit,@project,@ticket],class:"edit"%>
			</li>
			<li>
				<%=link_to "Delete Ticket",
										[@project,@ticket],
										method: :delete,
										data: {confirm: "Are you sure you want to delete this ticket?"},
										class:"delete"%>
			</li>
			<li>
				<%=link_to "Goto Project",
										@project,
										class:"link"%>
			</li>
		</ul>
	</div>	
	<%# simple_format : convert line breaks in correct html%>
	<%=simple_format(@ticket.description)%>
</div>
