neworediterrors.html.erb <br>

<% if bproject.errors.any? %>
	<div id="error_explanation">
		<h2>
			<%=pluralize(bproject.errors.count,"error")%>
			prohibited this project from being saved
		</h2>
		
		<ul>
			<% bproject.errors.full_messages.each do |msg| %>
				<li>
					<%=msg %>
				</li>
				<%end %>
		</ul>
	</div>
<%end %>
