<% @title="Project index" %>

<div class="myheader">
	<h1>Index Project</h1>
	<ul class="actions">
		<li>
			<%# Note:semantic styling, see application.css.scss%>
			<%# Note:fa=font awesome%>
			<%#= link_to "New Project",new_project_path,class: "btn btn-success" %>
			<%= link_to "New Project",new_admin_project_path,class: "new" %>
		</li>
	</ul>
</div>

<div id="projects">
	<% @projects.each do |project| %>
		<h3>
			<%# show %>
			<%=link_to project.name,project %>
		</h3>
		<p>
			<%=project.description%>
		</p>
	<%end %>
</div>
