<% @title="Project show" %>

<div class="myheader">
	<h1>
		Show project<br>
	</h1>
</div>
<div class="myheader">
	<h1>
		<%= @project.name%>
	</h1>
	<h3>
		<%= @project.description%>
	</h3>
	
	<ul class="actions">
		<li>
			<%=link_to "Edit Project",edit_project_path(@project),class: "edit" %>
		</li>
		<li>
			<%=link_to "Delete Project",admin_project_path(@project),:method=>:delete,:data=>{:confirm=>"Are you sure to delete this project?"},class: "delete" %>
		</li>
		<li>
			<%= link_to "New Ticket",new_project_ticket_path(@project),class: "new" %>
		</li>
		<li>
			<%= link_to "Home",root_path,class: "link" %>
		</li>
	</ul>
</div>

<%# show a single record%>

<ul id="tickets">
	<% @project.tickets.each do |ticket| %>
		<li>
			#
			<%= link_to ticket.name,[@project,ticket] %>
		</li>
	<% end %>	
</ul>
