<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<%# responsive styling for mobile devices%>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
		<%= @title || "Projectmaster" %>
  </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>  <%# mitigate csrf cross-site request forgery%>
</head>

<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">

			<div class="navbar-header">
				<%= link_to "Projectmaster", root_path, class: "navbar-brand" %>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
			</div>

			<div class="collapse navbar-collapse" id="collapse">
				<ul class="nav navbar-nav">
					<li class="<%= "active" if current_page?("/") %>">
						<%= link_to "Home", root_path %>
					</li>
					<% unless user_signed_in? %>
						<li class="<%= "active" if current_page?("/users/sign_up") %>">
							<%= link_to "Sign up", new_user_registration_path %>
						</li>
						<li class="<%= "active" if current_page?("/users/sign_in") %>">
							<%= link_to "Sign in", new_user_session_path %>
						</li>
					<% end %>
				</ul>
				<% if user_signed_in? %>
					<div class="navbar-right">
						<p class="navbar-text">
							Signed in as <%= current_user.email %>
						</p>
						<ul class="nav navbar-nav">
							<li><%= link_to "Sign out", destroy_user_session_path, method: :delete %>
							</li>
						</ul>
					</div>
				<% end %>
			</div>
		</div>
	</nav>

	<%# Use bootstrap container (shift more to right) %>
	<div class="container">
		<%# render flash messagges %>
		<% flash.each do |key,message | %>
			<div class="alert alert-<%= key %>">
				<%= message %>
				<%= key %>
			</div>
		<% end %>	
		<%= yield %>
	</div>

</body>
</html>
